.reels{
    /* background-image: url(./assets/reel1.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 100ms ease-in;
    border-radius: 10px;
    height: 270px;
width: 150px;
}